body {
    font-family: Arial, sans-serif;
    background-color: #8d9adb;
    margin: 0;
    padding: 0;
    font-size: medium;
}

/* Estilos del encabezado */

.containerpricipal_header{
    width: 100%;
}

.containerItems_header{
    background-color: #bbccde;
    text-align: center;
    display: flex;
    align-items: center;  

}
.titulo{
    display: flex;
    margin-left: 37rem;
    margin-right: 15rem;
}

.containerboton_menu{
    margin-left: 1rem;
}

/* Estilos del formulario */

form {
    margin-top: 3rem;
    margin-left: 20rem;
    background-color: #ffffff;
    width: 60vw;
    padding: 20px;
    border-radius: 0.4rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 8px;
    color: #333;
}

input {
    width: 98%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: #17a2b8;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #138496;
}

@media screen and (max-width: 600px){

    body{
        font-size: large;
    }
    
}

.menu-btn {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin: 20px 0;
    font-size: 16px;
}

.menu-btn:hover {
    background-color: #0056b3;
}